
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.error{
    background-color: firebrick;
}

div{

}

.rowDiv{
    height: 32px;
    width: 100%;
}

.boardCell{
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid crimson;
    background-color: cornflowerblue
}


.isSnake{
    background-color: black;
}

.isFood{
    background-color: yellow;
}






