body 
{
    background-color: #00CCFF;
	font-family: arial;
	font-size: 13px;
	text-align: center;
	}




p { text-indent: 10%;}	


p.formularz{
	font-size: 18px;
	}

p.teksts{
	font-size: 16px;
	}
	

div.top,div.naglowek,div.menu,div.srodek,div.stopka
{	border-style: solid;
	border-width: 1px;
	border-color: #0066FF;
	}	
	

	
/*Bloki */	

div.top {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}

div.naglowek{
	background-image: url(../grafika/lechs.jpg);
	height: 200px;
	width: 1098px;
	}

div.menu{
background: #0033CC;
 color: white;
 width: 200px;
 margin-top: 5px;
 float: left;
	text-align: left;
}

div.srodek {
 height: 530px;
 width: 845px;
 text-align: left;
 margin: 5px;
 float: left;
 padding: 20px;
 background-color: #66CCFF;
	overflow: auto;
	}


div.stopka{
	height: 23px;
	width: 1085px;
	clear: both;
	font-size: 12px;
	padding: 7px;
	}
	


#menu li{
  color: white;
  list-style-type: none;
  font: 16px Verdana;
  padding: 7px;}
 

#menu li a{
  display: block;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #287755;}

  
#menu li ul{
  overflow: hidden;
  display:none;}
  
#menu li:hover ul{
  display: block;}

  
#menu a:hover {
  background: blue;}
  
  
  

	
	

.fota {
	text-align: center;
	float: left;
	margin-left:35px;
	padding:7px;
	}


.opis {
	background-color: #597832;
	clear: both;
	font-size: 11px;
	color: #FFFFFF;
	}


.fota:hover  {background-color: #B6F664;}

