@CHARSET "UTF-8";

body {
	
}

div{
	margin: 10px;
}

#appDiv {
	border-style: solid;
	margin-left: 10%;
	margin-right: 10%;
	background-color: grey;
	height: 200px;
	width: 80%;
	position: absolute;
}

#logInTxt {
	
}

#logInPass {
	
}

#logInDivButton {
	background-color: red;
	align-right: auto;
	border: 10px;
}

#buttonLogIn {
	margin: 10px;
	float: right;
}